/* Section Area */

.sec-area{
  background-color: rgb(32, 32, 32);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* End Section Area */

/* Button 1 Glow Button */

.glow-on-hover:before {    
    content: '';    
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);    
    position: absolute;    
    top: -2px;    
    left:-2px;     
    z-index: -1;    
    filter: blur(5px);   
    width: 200px;    
    height: 80px;    
    animation: glowing 20s linear infinite;    
    opacity: 0;    
    transition: opacity .3s ease-in-out;    
    border-radius: 10px; 
}

.glow-on-hover:active {    
    color: #000}

.glow-on-hover:active:after {    
    background: transparent;}

.glow-on-hover:hover:before {    
    opacity: 1;}

.glow-on-hover:after {    
    z-index: -1;    
    content: '';    
    position: absolute;    
    width: 200px;    
    height: 80px;    
    background: #111;    
    left: 0;    
    top: 0;    
    border-radius: 10px;}

@keyframes glowing {    
    0% { background-position: 0 0; }    
    50% { background-position: 400% 0; }    
    100% { background-position: 0 0; }}

/* End Button 1 Glow Button */

/* Button 2 Fill Button */
.fill {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .fill:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .fill:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .fill:hover {
    color: #fff;
    text-decoration: none;
  }
  .fill:hover:before {
    width: 100%;
  }

  /* End Button 2 Fill Button */


/* Start Button 3 3D Button */

.ThreeD {  
    position:relative;  
    display:inline-block;  
    margin:20px;}

.ThreeD a{  
    color:white;  
    font-family:Helvetica, sans-serif;  
    font-weight:bold;  
    font-size:36px;  
    text-align: center;  
    text-decoration:none;  
    background-color:#FFA12B; 
    display:block;  
    position:relative;  
    padding:20px 40px;    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    text-shadow: 0px 1px 0px #000;  
    filter: dropshadow(color=#000, offx=0px, offy=1px);    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;  
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;  
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;    
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;  
    border-radius: 5px;}
    
.ThreeD a:active{  
    top:10px;  
    background-color:#F78900;    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;  
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;  
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;}
    
.ThreeD:after{  
    content:"";  
    height:100%;  
    width:100%;  
    padding:4px;  
    position: absolute;  
    bottom:-15px;  
    left:-4px;  
    z-index:-1;  
    background-color:#2B1800;  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px; 
    border-radius: 5px;}

/* End Button 3 3D Button */

/* Button 4 Seperator Button */

.btn {   
    border: none;    
    font-family: 'Lato';    
    font-size: inherit;    
    color: inherit;    
    background: none;    
    cursor: pointer;    
    padding: 25px 80px;    
    display: inline-block;    
    margin: 15px 30px;    
    text-transform: uppercase;    
    letter-spacing: 1px;    
    font-weight: 700;    
    outline: none;    
    position: relative;    
    -webkit-transition: all 0.3s;    
    -moz-transition: all 0.3s;   
    transition: all 0.3s;}

.btn:after {    
    content: '';   
    position: absolute;    
    z-index: -1;    
    -webkit-transition: all 0.3s;    
    -moz-transition: all 0.3s;   
    transition: all 0.3s;}

/* Pseudo elements for icons */
.btn:before {    
    font-family: 'FontAwesome';    
    font-style: normal;    
    font-weight: normal;    
    font-variant: normal;    
    text-transform: none;    
    line-height: 1;    
    position: relative;    
    -webkit-font-smoothing: antialiased;}
    
/* Icon separator */
.btn-sep {    
    padding: 25px 60px 25px 120px;}

.btn-sep:before {    
    background: rgba(0,0,0,0.15);}

/* Button 1 */
.btn-1 {    
    background: #3498db;    
    color: #fff;}

.btn-1:hover {    
    background: #2980b9;}

.btn-1:active {    
    background: #2980b9;    
    top: 2px;}

.btn-1:before {    
    position: absolute;    
    height: 100%;    
    left: 0;    
    top: 0;    
    line-height: 3;    
    font-size: 140%;    
    width: 60px;}

/* Button 2 */
.btn-2 {    
    background: #e74c3c;    
    color: #fff;}

.btn-2:hover {    
    background: #c0392b;}

.btn-2:active {    
    background: #c0392b;    
    top: 2px;}

.btn-2:before {    
    position: absolute;    
    height: 100%;    
    left: 0;    
    top: 0;    
    line-height: 3;    
    font-size: 140%;    
    width: 60px;}

    /* Button 3 */
.btn-3 {    
  background: #ffd344;    
  color: #fff;}

.btn-3:hover {    
  background: #e4b20f;}

.btn-3:active {    
  background: #e4b20f;    
  top: 2px;}

.btn-3:before {    
  position: absolute;    
  height: 100%;    
  left: 0;    
  top: 0;    
  line-height: 3;    
  font-size: 140%;    
  width: 60px;}

  /* Button 4 */
.btn-4 {    
  background: #25d45a;    
  color: #fff;}

.btn-4:hover {    
  background: #13a13d;}

.btn-4:active {    
  background: #13a13d;    
  top: 2px;}

.btn-4:before {    
  position: absolute;    
  height: 100%;    
  left: 0;    
  top: 0;    
  line-height: 3;    
  font-size: 140%;    
  width: 60px;}

  /* Button 5 */
.btn-5 {    
  background: #254279;    
  color: #fff;}

.btn-5:hover {    
  background: #163369;}

.btn-5:active {    
  background: #112955;    
  top: 2px;}

.btn-5:before {    
  position: absolute;    
  height: 100%;    
  left: 0;    
  top: 0;    
  line-height: 3;    
  font-size: 140%;    
  width: 60px;}


  /* Button 6 */
  .btn-6 {    
    background: #6f3ce7;    
    color: #fff;}
  
  .btn-6:hover {    
    background: #5727c5;}
  
  .btn-6:active {    
    background: #5727c5;    
    top: 2px;}
  
  .btn-6:before {    
    position: absolute;    
    height: 100%;    
    left: 0;    
    top: 0;    
    line-height: 3;    
    font-size: 140%;    
    width: 60px;}

/* ENd Seperator Button  */

/* Start Simple Btn */

.simple {
    padding: 15px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: background-color .6s ease;
    transition: background-color .6s ease;
    overflow: hidden;
  }
  .simple:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    -webkit-transition: width .3s ease, height .3s ease;
    transition: width .3s ease, height .3s ease;
  }
  .simple:focus, .simple:hover {
    background: #fb512e;
    color: white;
    text-decoration: none;
  }
  .simple:active:after {
    width: 200px;
    height: 200px;
  }

/* End Simple Btn */

/* Pulse Button */

.text-box {
  position: relative;
  display:inline-block;  
  margin:20px;
}
.pulse:link,
.pulse:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
}

.pulse:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pulse:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pulse-white {
  background-color: #fff;
  color: #777;
}

.pulse::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.pulse-white::after {
  background-color: #fff;
}

.pulse:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.pulse-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* End Pulse Button */

/* Wrapper Start */

.wrapper{   
    position: relative;
    display:inline-block;  
    margin:20px;
}

.wrapper a{  
    display: block;  
    width: 200px;  
    height: 40px;  
    line-height: 40px;  
    font-size: 18px;  
    font-family: sans-serif;  
    text-decoration: none;  
    color: #333;  
    border: 2px solid #333;  
    letter-spacing: 2px;  
    text-align: center;  
    position: relative;  
    transition: all .35s;}

.wrapper a span{  
    position: relative;  
    z-index: 2;}

.wrapper a:after{  
    position: absolute;  
    content: "";  
    top: 0;  
    left: 0;  
    width: 0;  
    height: 100%;  
    background: #002fff;  
    transition: all .35s;}

.wrapper a:hover{  color: #fff;}
.wrapper a:hover:after{  width: 100%;}

/* Wrapper End */

/*  */


.center {  
  width: 180px;  
  height: 60px;  
  position: absolute;}

.light {  
  width: 180px;  
  height: 60px;  
  cursor: pointer;  
  background: transparent;  
  border: 1px solid #91C9FF;  
  outline: none;  
  transition: 1s ease-in-out;}

svg {  
  position: absolute;  
  left: 0;  
  top: 0;  
  fill: none;  
  stroke: #fff;  
  stroke-dasharray: 150 480;  
  stroke-dashoffset: 150;  
  transition: 1s ease-in-out;}

.light:hover {  
  transition: 1s ease-in-out;  
  background: #4F95DA;}

.light:hover svg {  
  stroke-dashoffset: -480;}

.light span {  
  color: white;  
  font-size: 18px;  
  font-weight: 100;}

/*  */

/* Circular Buttons */

.space {
  display: table;
  height: 40px;
  width: 100%;
  background: transparent;
  z-index: -1;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.icon-container {
  width: 100%;
  height: 60px;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  overflow: hidden;
}
.icon::before, .icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon i {
  position: relative;
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 15px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.icon-fill::before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #16A085;
}
.icon-fill:hover::before {
  box-shadow: inset 0 0 0 60px #16A085;
}

.icon-enter::after {
  box-shadow: inset 0 0 0 1px #EB9532;
}
.icon-enter::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #EB9532;
}
.icon-enter:hover::before {
  margin-left: 0;
}

.icon-expand::after {
  box-shadow: inset 0 0 0 1px #C82647;
}
.icon-expand::before {
  background: #C82647;
  box-shadow: inset 0 0 0 60px #2d2c3e;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 1px #2d2c3e;
}

.icon-collapse::before {
  border-radius: 0;
}
.icon-collapse:hover::before {
  box-shadow: inset 0 30px 0 0 #8CC63F, inset 0 -30px 0 0 #8CC63F;
}
.icon-collapse::after {
  box-shadow: inset 0 0 0 1px #8CC63F;
}

.icon-rotate {
  box-shadow: inset 0 0 0 1px #7E3661;
}
.icon-rotate::after, .icon-rotate::before {
  border: 0px solid transparent;
}
.icon-rotate:hover::before {
  -webkit-transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
  transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
  border-width: 60px;
  border-top-color: #7E3661;
}
.icon-rotate:hover::after {
  -webkit-transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
  transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
  border-width: 60px;
  border-left-color: #7E3661;
}
.icon-rotate:hover {
  -webkit-transition: background 0.001s ease 0.3s;
  transition: background 0.001s ease 0.3s;
  background: #7E3661;
}
.icon-rotate i {
  z-index: 1;
}

/*  */

/* Start Button Flip */

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

/* End Button Flip */

/* Start Button Flip 2*/

.btn-flip2 {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  border: dotted #323237;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.btn-flip2:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}
.btn-flip2:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}
.btn-flip2:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}
.btn-flip2:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

/* End Button Flip 2*/

/* Block Btn */

.block-btn {
  padding: 15px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  margin-right: 10px;
  background: teal;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
}
.block-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.block-btn:focus, .block-btn:hover {
  background: transparent;
  color: teal;
  border: solid teal;
  text-decoration: none;
}
.block-btn:active:after {
  width: 200px;
  height: 200px;
}

/* Block Btn */

/* Block Button 2 */

.block-btn2 {
  padding: 15px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 50px;
  height: 80px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
  border: solid teal;
}
.block-btn2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.block-btn2:focus, .block-btn2:hover {
  background: teal;
  color: white;
  text-decoration: none;
}
.block-btn2:active:after {
  width: 200px;
  height: 200px;
}

/* End Block Buttons 2 */

/* Thin Button Start */

div[class*=box] {    
  height: 180px;    
  width: 100%;   
  display: flex;  
  justify-content: center;  
  align-items: center;}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: transparent; }
.box-3 { background-color: #66A182; }

.thin {    
  line-height: 50px;    
  height: 50px;    
  text-align: center;   
  width: 250px;    
  cursor: pointer;}

/* ========================BUTTON ONE========================*/
.thin-one {    
  color: #FFF;    
  transition: all 0.3s;    
  position: relative;}

.thin-one span {    
  transition: all 0.3s;}

.thin-one::before {    
  content: '';    
  position: absolute;    
  bottom: 0;    
  left: 0;    
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  opacity: 0;    
  transition: all 0.3s;    
  border-top-width: 1px;    
  border-bottom-width: 1px;    
  border-top-style: solid;    
  border-bottom-style: solid;    
  border-top-color: rgba(255,255,255,0.5);    
  border-bottom-color: rgba(255,255,255,0.5);    
  transform: scale(0.1, 1);}

.thin-one:hover span {    
  letter-spacing: 2px;}

.thin-one:hover::before {    
  opacity: 1;     
  transform: scale(1, 1); }

.thin-one::after {    
  content: '';    
  position: absolute;    
  bottom: 0;    
  left: 0;    
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  transition: all 0.3s;    
  background-color: rgba(255,255,255,0.1);}

.thin-one:hover::after {    
  opacity: 0;     
  transform: scale(0.1, 1);}

/* ========================BUTTON TWO========================*/

.thin-two {    
  color: #FFF;    
  transition: all 0.5s;    
  position: relative; }

.thin-two span {    
  z-index: 2;     
  display: block;    
  position: absolute;    
  width: 100%;    
  height: 100%;   }
  
.thin-two::before {    
  content: '';    
  position: absolute;    
  top: 0;    
  left: 0;    
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  transition: all 0.5s;    
  border: 1px solid rgba(255,255,255,0.2);    
  background-color: rgba(255,255,255,0.1);}

.thin-two::after {    
  content: '';    
  position: absolute;    
  top: 0;    
  left: 0;   
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  transition: all 0.5s;    
  border: 1px solid rgba(255,255,255,0.2);    
  background-color: rgba(255,255,255,0.1);}
  
.thin-two:hover::before {  
  transform: rotate(-45deg); 
  background-color: rgba(255,255,255,0);}

.thin-two:hover::after {  
  transform: rotate(45deg);  
  background-color: rgba(255,255,255,0);}

/* ======================== BUTTON THREE========================*/
.thin-three {    
  color: #FFF;    
  transition: all 0.5s;    
  position: relative;}

.thin-three::before {    
  content: '';    
  position: absolute;    
  top: 0;    
  left: 0;    
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  background-color: rgba(255,255,255,0.1);    
  transition: all 0.3s;}
  
.thin-three:hover::before {    
  opacity: 0 ;    
  transform: scale(0.5,0.5);}

.thin-three::after {    
  content: '';    
  position: absolute;    
  top: 0;    
  left: 0;    
  width: 100%;    
  height: 100%;    
  z-index: 1;    
  opacity: 0;    
  transition: all 0.3s;    
  border: 1px solid rgba(255,255,255,0.5);    
  transform: scale(1.2,1.2);}
  
.thin-three:hover::after {    
  opacity: 1;    
  transform: scale(1,1);}


/* Thin Button End */

/* Round Btn */

.round-btn {
  padding: 15px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  margin-right: 10px;
  background: rgb(0, 60, 128);
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
}
.round-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.round-btn:focus, .round-btn:hover {
  background: transparent;
  color: rgb(0, 60, 128);
  border: solid rgb(0, 60, 128);
  text-decoration: none;
}
.round-btn:active:after {
  width: 200px;
  height: 200px;
}

/* End Round Btn */

/* Round Button 2 */

.round-btn2 {
  padding: 15px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: transparent;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 50px;
  height: 80px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
  border: solid rgb(0, 60, 128);
}
.round-btn2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.round-btn2:focus, .round-btn2:hover {
  background: rgb(0, 60, 128);
  color: white;
  text-decoration: none;
}
.round-btn2:active:after {
  width: 200px;
  height: 200px;
}

/* End Round Buttons 2 */

/* Dark Btn */

.dark-btn {
  padding: 25px 52px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: rgb(0, 60, 128);
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
}
.dark-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.dark-btn:focus, .dark-btn:hover {
  background: transparent;
  color: rgb(0, 60, 128);
  border: solid rgb(0, 60, 128);
  text-decoration: none;
}
.dark-btn:active:after {
  width: 200px;
  height: 200px;
}

.dark-btn i {
  font-size: 40px;
  margin-left: -30px;
  margin-right: 20px;
  vertical-align: -5px;
  padding-top: 10px;
}

/* End Dark Btn */

/* Dark Button 2 */

.dark-btn2 {
  padding: 25px 52px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 50px;
  height: 80px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  overflow: hidden;
  border: dotted rgb(0, 60, 128);
}
.dark-btn2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}
.dark-btn2:focus, .dark-btn2:hover {
  background: rgb(0, 60, 128);
  color: white;
  text-decoration: none;
}
.dark-btn2:active:after {
  width: 200px;
  height: 200px;
}

.dark-btn2 i {
  font-size: 40px;
  margin-left: -30px;
  margin-right: 20px;
  vertical-align: -5px;
  padding-top: 10px;
}


/* End Round Buttons 2 */

/* Send Button */

.send-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 15px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #006eff;
}

.send-btn:hover{
  background-color: #0055c4;
}

.send-btn i {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 15px;
}


/* End Send Button */

/* Send Button Variation */

.send-btn2 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 15px;
  border-radius: 30px;
  overflow: hidden;
  background-color: transparent;
  border: dotted white;
}

.send-btn2:hover{
  background-color: rgb(255, 153, 0);
}

.send-btn2 i {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}


/* End Send Button Variation */

/* Wrapper2 Start */

.wrapper2{   
  position: relative;
  display:inline-block;  
  margin:20px;
}

.wrapper2 a{  
  display: block;  
  width: 200px;  
  height: 40px;  
  line-height: 40px;  
  font-size: 18px;  
  font-family: sans-serif;  
  text-decoration: none;  
  color: rgb(77, 77, 77);  
  border: 2px dotted rgb(124, 124, 124);  
  letter-spacing: 2px;  
  border-radius: 30px;
  text-align: center;  
  position: relative;  
  transition: all .35s;}

.wrapper2 a span{  
  position: relative;  
  z-index: 2;}

.wrapper2 a:after{  
  position: absolute;  
  content: "";  
  top: 0;  
  left: 0;  
  width: 0;  
  height: 100%;
  border-radius: 30px;  
  background: #ee3838;  
  transition: all .35s;}

.wrapper2 a:hover{  color: #fff;}
.wrapper2 a:hover:after{  width: 100%;}

/* Wrapper2 End */